<!-- Modal -->
<div id="contactBearbeitenPopup" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Kontakt bearbeiten</h4>
      </div>

      <%= form_tag "/gigs/edit_contact" do %>
        <div class="modal-body">
          <div class="form-group row">
            <%= hidden_field_tag :contact_id, "", value: params[:contactid], id: "c_currentid" %>

            <div class="col-md-6">
              <%= label_tag :contactname, "Name (für die Anrede)" %><br />
              <%= text_field_tag :contactname, nil, class: "form-control", value: params[:contactname], id: "c_currentname" %>
            </div>

            <div class="col-md-6">
              <%= label_tag :contactemail, "E-Mail" %><br />
              <%= email_field_tag :contactemail, nil, class: "form-control", value: params[:contactemail], id: "c_currentemail" %>
            </div>

            <div class="col-md-6">
              <%= label_tag :contactphone, "Telefon" %><br />
              <%= text_field_tag :contactphone, nil, class: "form-control", value: params[:contactphone], id: "c_currentphone" %>
            </div>

            <div class="col-md-6">
              <%= label_tag :contactinfo, "weitere Info (Nachname, Adresse, etc.)" %><br />
              <%= text_field_tag :contactinfo, nil, class: "form-control", value: params[:contactinfo], id: "c_currentinfo" %>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <%= button_tag type: "submit", class: "btn btn-primary" do %>
            Speichern
          <% end %>
        </div>
      <% end %>
     
    </div>

  </div>
</div>