<h1>Kontakte</h1>



<%= form_tag "/contacts" do %>
<div class="table-responsive">
<table class="table table-striped">
<thead>
  <tr>
    <th>Name</th>
    <th>E-Mail</th>
    <th>Telefon</th>
    <th>Info</th>
    <th></th>
  </tr>
</thead>

<tbody>
  <% @contacts.each do |contact| %>
    <tr>
      <td id="name-<%= contact.id %>"><%= contact.name %></td>
      <td id="email-<%= contact.id %>"><%= contact.email %></td>
      <td id="phone-<%= contact.id %>"><%= contact.telephone %></td>
      <td id="info-<%= contact.id %>"><%= contact.info %></td>
      <td align="center">
        <%= link_to "#", "data-toggle" => "modal", "data-target" => "#contactBearbeitenPopup", id: "contact-#{contact.id}" do %>
          <div style="height:100%;width:100%">
            <i class="glyphicon glyphicon-edit"></i>
          </div>
        <% end %>
      </td>
    </tr>
  <% end %>

  <tr>
    <td><%= text_field_tag :name, nil, class: "form-control", placeholder: "Name" %></td>
    <td><%= email_field_tag :email, nil, class: "form-control", placeholder: "E-Mail" %></td>
    <td><%= text_field_tag :telephone, nil, class: "form-control", placeholder: "Telefon" %></td>
    
    <td><%= text_field_tag :info, nil, class: "form-control", placeholder: "weitere Info" %></td>
    <td align="center"><%= button_tag "Hinzufügen", type: "submit", class: "btn btn-primary" %></td>
  </tr>
</tbody>
</table>
</div>
<% end %>


<%= render "contact_bearbeiten_popup" %>