<h1>Gig anzeigen / bearbeiten</h1>

Gehe direkt zu:
<ul>
	<li><a href="#reminders">Erinnerungen</a></li>
	<li><a href="#mails">Zugehörige E-Mails</a></li>
</ul>

<%= render 'form' %>

<br>
<br>

<h3 id="reminders">Erinnerungen</h3>

<%= link_to "#", "data-toggle" => "modal", "data-target" => "#reminderErstellenPopup", class: "btn btn-default" do %>
  <div style="height:100%;width:100%">
    erstellen <i class="glyphicon glyphicon-phone-alt"></i>
  </div>
<% end %>

<br>
<br>

<% unless @reminders.empty? %>
	<% @reminders.each do |r| %>
		<p><strong>erledigt:</strong> <%= r.done ? "Ja" : "Nein" %></p>
		<p><strong>fällig:</strong> <%= r.due %></p>
		<p><%= raw(nl2br(r.text)) %></p>
		<hr>
	<% end %>
<% else %>
	<em>noch keine ...</em>
<% end %>

<br>
<br>

<h3 id="mails">Zugehörige E-Mails</h3>
<% unless @mails.empty? %>
	<% @mails.each do |m| %>
		<p><strong>Übertragen:</strong> <%= m.transferred_at.blank? ? raw("<em>noch nicht übertragen</em>") : m.transferred_at %></p>
		<p><strong>Betreff:</strong> <%= m.subject %></p>
		<p><%= raw(nl2br(m.text)) %></p>
		<hr>
	<% end %>
<% else %>
	<em>noch keine ...</em>
<% end %>


<%= link_to I18n.t("back"), gigs_path, class: "btn btn-default" %>



<%= render "reminder_erstellen_popup" %>
<%= render "location_bearbeiten_popup" %>
<%= render "contact_bearbeiten_popup" %>

<script>
$(document).ready(function(){
	<% l = @gig.location %>

	$("#l_currentid").val(<%= l.id %>);
	$("#l_currentname").val("<%= l.name %>");
	$("#l_currentaddress").val("<%= l.address %>");
	$("#l_currentwebsite").val("<%= l.website %>");
	$("#l_currentfestival").prop("checked", <%= l.festival %>);

	$("#l_currentcontact").val("<%= l.contact_summary %>");

    <% c = l.contact %>
    <% if c %>
		$("#c_currentid").val("<%= c.id %>");
		$("#c_currentname").val("<%= c.name %>");
		$("#c_currentemail").val("<%= c.email %>");
		$("#c_currentphone").val("<%= c.telephone %>");
		$("#c_currentinfo").val("<%= c.info %>");
	<% end %>
});
</script>