<h1>Gigs / Festivals</h1>

<%= link_to "Anlegen", new_gig_path, class: "btn btn-primary" %>
<%= link_to "E-Mail an Veranstalter versenden", apply_path, class: "btn btn-primary" %>

<br />
<br />
<% if params[:archived] %>
  <%= link_to "archivierte Gigs verstecken", gigs_path, class: "btn btn-default" %>
<% else %>
  <%= link_to "archivierte Gigs anzeigen", gigs_path(archived: true), class: "btn btn-default" %>
<% end %>
<br />
<br />

<p><i class="glyphicon glyphicon-tent"></i> bedeutet Festival.</p>

<div class="table-responsive">
<table class="table table-striped">
<thead>
  <tr>
    <th>Name / Location</th>
    <th>Adresse</th>
    <th>Stagetime</th>
    <th>Status</th>
    <th>Letzte Nachricht</th>
    <th colspan="2"></th>
  </tr>
</thead>

<tbody>
  <% @gigs.each do |gig| %>
    <tr>
      <td class="<%= gig.class_by_status %>">
        <%= gig.location ? "#{gig.location.name} #{gig.name}" : "(nicht zugeordnet)" %>    
        <% if gig.location.festival %>
          <i class="glyphicon glyphicon-tent"></i>
        <% end %>
      </td>

      <td>
        <%= gig.location ? raw(gig.location.address + (gig.contact ? "" : "<strong style='color:red'> (Kontakt fehlt)</strong>")) : "(unklar)" %>
      </td>

      <td><%= Rails.date_relative(gig.datetime.to_date) %></td>
      <td><%= gig.current_status %></td>
      <td><%= gig.last_message %></td>

      <td align="center">
        <%= link_to edit_gig_path(gig) do %>
          <div style="height:100%;width:100%">
            <i class="glyphicon glyphicon-edit"></i>
          </div>
        <% end %>
      </td>
      <td align="center">
        <%= link_to gig, method: :delete, data: { confirm: I18n.t('models.confirm_to_destroy') } do %>
          <div style="height:100%;width:100%">
            <i class="glyphicon glyphicon-remove"></i>
          </div>
        <% end %>
      </td>
    </tr>
  <% end %>
</tbody>
</table>
</div>