<h1>Gigs</h1>

<%= link_to "Anlegen", new_gig_path, class: "btn btn-primary" %>
<%= link_to "E-Mail an Veranstalter versenden", apply_path, class: "btn btn-primary" %>

<br />
<br />
<br />

<div class="table-responsive">
<table class="table table-striped">
<thead>
  <tr>
    <th>Location</th>
    <th></th>
    <th>Adresse</th>
    <th>Kontakt</th>
    <th>Stagetime</th>
    <th>Status</th>
    <th>Verantwortlich</th>
    <th colspan="2"></th>
  </tr>
</thead>

<tbody>
  <% @gigs.each do |gig| %>
    <tr>
      <td class="<%= gig.class_by_status %>"><%= gig.location ? gig.location.name : "(nicht zugeordnet)" %></td>
      <td class="<%= gig.class_by_status %>"><%= gig.name %></td>
      <td><%= gig.location ? gig.location.address : "(unklar)" %></td>
      <td><%= gig.contact ? gig.contact_summary : "(leer)" %></td>
      <td><%= readable_datetime(gig.datetime) %></td>
      <td><%= gig.current_status %></td>
      <td><%= gig.user ? gig.user.name : "(noch niemand)" %></td>
      <td align="center">
        <%= link_to edit_gig_path(gig) do %>
          <div style="height:100%;width:100%">
            <i class="glyphicon glyphicon-edit"></i>
          </div>
        <% end %>
      </td>
      <td align="center">
        <%= link_to gig, method: :delete, data: { confirm: I18n.t('models.confirm_to_destroy') } do %>
          <div style="height:100%;width:100%">
            <i class="glyphicon glyphicon-remove"></i>
          </div>
        <% end %>
      </td>
    </tr>
  <% end %>
</tbody>
</table>
</div>