<% title "Gigs / Festivals" %>

<h1><i class="glyphicon glyphicon-star"></i> Gigs / Festivals</h1>
<%= link_to "Gig / Festival anlegen", new_gig_path, class: "btn btn-default" %>
<% if params[:archived] %>
  <%= link_to "archivierte und vergangene Gigs verstecken", gigs_path, class: "btn btn-default" %>
<% else %>
  <%= link_to "archivierte und vergangene Gigs anzeigen", gigs_path(archived: true), class: "btn btn-default" %>
<% end %>
<br />
<br />

<p><i class="glyphicon glyphicon-tent"></i> bedeutet Festival.</p>
<p>Ganz rechts in jeder Zeile kann ein Gig kopiert werden. Er wird dann automatisch ins nächste Jahr kopiert. Ein Gig von 2017 würde dann also zu 2018 kopiert werden.</p>


<p>
  <% @count_statuses.each do |k,v| %>
    <%= raw("<span class='#{k} count'>#{v} #{k}</span> ") %>
  <% end %>
  <%= raw("<span class='count'>#{@different.size} verschiedene Locations</span> ") %>
  <%= raw("<span class='count'>#{@gigs.size} Zeilen</span> ") %>
</p>

<div class="table-responsive">
<table class="table table-striped">
<thead>
  <tr>
    <th>Name / Location</th>
    <th>Adresse</th>
    <th>Stagetime</th>
    <th>Status</th>
    <th>(Anzahl) Letzte Aktion</th>
    <th colspan="1"></th>
  </tr>
</thead>

<tbody>
  <% @gigs.each do |gig| %>

    <%
    tr_class = "" 

    if gig.archived
      tr_class = "archived"
    elsif gig.datetime < 1.week.ago
      tr_class = "old"
    elsif gig.datetime < 0.week.ago
      tr_class = "recent"
    end
    %>

    <tr class="<%= tr_class %>">
      <td>
        <%= link_to(edit_gig_path(gig), target: "_blank") do %>
          <%= gig.short_text %>    
          <% if gig.location.festival %>
            <i class="glyphicon glyphicon-tent"></i>
          <% end %>
        <% end %>
      </td>

      <td>
        <%= raw(gig.short_location) %>
      </td>

      <td>
        <%= link_to(map_path(relative: gig.datetime.strftime("%Y-%m-%d")), target: "_blank") do %>
          <%= Rails.date_relative(gig.datetime.to_date) %>    
        <% end %>
      </td>

      <td class="<%= gig.current_status %>"><%= gig.current_status %></td>
      <td style="<%= gig.last_action_style %>"><%= "(#{gig.action_count}) #{gig.last_action}" %></td>

      <td align="center" title="kopieren">
        <%= link_to duplicate_gig_path(gig) do %>
          <div style="height:100%;width:100%">
            <i class="glyphicon glyphicon-duplicate"></i>
          </div>
        <% end %>
      </td>
    </tr>
  <% end %>
</tbody>
</table>
</div>