<% title "Gigs / Festivals" %>

<h1><i class="glyphicon glyphicon-star"></i> Gigs / Festivals</h1>
<%= link_to "Gig / Festival anlegen", new_gig_path, class: "btn btn-default" %>
<% if params[:archived] %>
  <%= link_to "archivierte und vergangene Gigs verstecken", gigs_path, class: "btn btn-default" %>
<% else %>
  <%= link_to "archivierte und vergangene Gigs anzeigen", gigs_path(archived: true), class: "btn btn-default" %>
<% end %>
<br />
<br />

<p><i class="glyphicon glyphicon-tent"></i> bedeutet Festival.</p>
<p>Ganz rechts in jeder Zeile kann ein Gig kopiert werden. Er wird dann automatisch ins nächste Jahr kopiert. Ein Gig von 2017 würde dann also zu 2018 kopiert werden.</p>

<div class="table-responsive">
<table class="table table-striped">
<thead>
  <tr>
    <th>Name / Location</th>
    <th>Adresse</th>
    <th>Stagetime</th>
    <th>Status</th>
    <th>(Anzahl) Letzte Nachricht</th>
    <th colspan="1"></th>
  </tr>
</thead>

<tbody>
  <% @gigs.each do |gig| %>

    <%
    tr_class = "" 

    if gig.archived
      tr_class = "archived"
    elsif gig.datetime < 1.week.ago
      tr_class = "old"
    elsif gig.datetime < 0.week.ago
      tr_class = "recent"
    end
    %>

    <tr class="<%= tr_class %>">
      <td>
        <%= link_to edit_gig_path(gig) do %>
          <%= gig.location ? "#{gig.location.name} #{gig.name}" : "(nicht zugeordnet)" %>    
          <% if gig.location.festival %>
            <i class="glyphicon glyphicon-tent"></i>
          <% end %>
        <% end %>
      </td>

      <td>
        <%= gig.location ? raw(gig.location.address + (gig.contact ? "" : "<strong style='color:red'> (Kontakt fehlt)</strong>")) : "(unklar)" %>
      </td>

      <td><%= Rails.date_relative(gig.datetime.to_date) %></td>
      <td class="<%= gig.current_status %>"><%= gig.current_status %></td>
      <td><%= "(#{gig.email.count}) #{gig.last_message}" %></td>

      <td align="center" title="kopieren">
        <%= link_to duplicate_gig_path(gig) do %>
          <div style="height:100%;width:100%">
            <i class="glyphicon glyphicon-duplicate"></i>
          </div>
        <% end %>
      </td>
    </tr>
  <% end %>
</tbody>
</table>
</div>