<% title "Locations" %>

<h1><i class="glyphicon glyphicon-map-marker"></i> Locations</h1>

<% if params[:festivals] %>
  <%= link_to "Festivals verstecken", locations_path, class: "btn btn-default" %>
<% else %>
  <%= link_to "Festivals mit anzeigen", locations_path(festivals: true), class: "btn btn-default" %>
<% end %>

<br>
<br>

<% if params[:festivals] %>
  <p><i class="glyphicon glyphicon-tent"></i> bedeutet Festival.</p>
<% end %>

<div class="table-responsive">
<table class="table table-striped">
<thead>
  <tr>
    <th>Name</th>
    <th>Adresse</th>
    <th>Website</th>
    <th>Kontakt</th>
    <th></th>
  </tr>
</thead>

<tbody>
  <% @locations.each do |location| %>
    <tr>
      <td>
        <span id="name-<%= location.id %>"><%= location.name %></span>
        <% if location.festival %>
          <i class="glyphicon glyphicon-tent"></i>
        <% end %>
      </td>
      <td id="address-<%= location.id %>"><%= location.address %></td>
      <td id="website-<%= location.id %>"><%= link_to location.website_without_http, "http://#{location.website_without_http}", target: "_blank" %></td>

      <td id="contact-<%= location.id %>"><%= location.contact_summary %></td>
      <td align="center">
        <%= link_to "#", "data-toggle" => "modal", "data-target" => "#locationBearbeitenPopup", id: "location-#{location.id}" do %>
          <div style="height:100%;width:100%">
            <i class="glyphicon glyphicon-edit"></i>
          </div>
        <% end %>
      </td>
    </tr>
  <% end %>
  
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td><strong>neue Location</strong></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  
  <%= form_tag "/locations" do %>
  <tr>
    <td><%= text_field_tag :name, nil, class: "form-control", placeholder: "Name" %></td>
    <td><%= text_field_tag :address, nil, class: "form-control", placeholder: "Adresse" %></td>
    <td><%= text_field_tag :website, nil, class: "form-control", placeholder: "Website" %></td>
    
    <td><%= check_box_tag :festival, nil, false, class: "form-control" %></td>
    <td><%= select_tag :locationcontact, options_for_select(@contacts, @contacts.first), class: "form-control" %></td>
    <td align="center"><%= button_tag "Hinzufügen", type: "submit", class: "btn btn-primary" %></td>
  </tr>
</tbody>
</table>
</div>
<% end %>


<%= render "location_bearbeiten_popup" %>