<h1>Einstellungen</h1>


<h2>Statuswerte</h2>
<%= form_tag "/settings" do %>
<div class="table-responsive">
<table class="table table-striped">

<!--thead>
  <tr>
    <th>Text</th>
    <th>Reihenfolge</th>
  </tr>
</thead-->

<tbody>
  <% @status_values.each do |sv| %>
    <tr>
      <td id="text-<%= sv.id %>"><%= sv.text %></td>
      <td id="order-<%= sv.id %>"><%= sv.order %></td>
      <td align="center">
        <%= link_to "#", "data-toggle" => "modal", "data-target" => "#statusBearbeitenPopup", id: "status-#{sv.id}" do %>
          <div style="height:100%;width:100%">
            <i class="glyphicon glyphicon-edit"></i>
          </div>
        <% end %>
      </td>
    </tr>
  <% end %>
    <tr>
      <td><%= text_field_tag :text, nil, class: "form-control", placeholder: "Text" %></td>
      <td><%= number_field_tag :order, nil, class: "form-control", placeholder: "Reihenfolge" %></td>
      <td align="center"><%= button_tag "Hinzuf端gen", type: "submit", class: "btn btn-primary" %></td>
      <td></td>
    </tr>
</tbody>
</table>
</div>
<% end %>



<h2>E-Mail Vorlage</h2>
<%= form_tag "/settings/edit_template" do %>

<p>Folgende Variablen kannst du im Betreff und im Text nutzen (du musst aber nicht):</p>
<ul>
  <li><strong>contact-name:</strong> hier wird vor dem Versand der volle Name des Kontakts eingef端gt.</li>
  <li><strong>location-name:</strong> hier wird vor dem Versand der Name der Location eingef端gt. Wenn es sich um ein Festival handelt (zB Bonebreaker), wird der Name und der Text <em>-<nobr>Festival</em> eingef端gt (zB Bonebreaker-Festival).</li>
</ul>
<p>Du kannst dir vor dem Versand jede E-Mail noch einmal ansehen.</p>

<%= label_tag :subject, "Betreff:" %><br />
<%= text_field_tag :subject, nil, class: "form-control", value: @template_subject %>
<%= text_area_tag :text, nil, placeholder: "E-Mail-Text", cols: "40", rows: "30", class: "form-control", value: @template_text %>



<% end %>




<%= render "status_bearbeiten_popup" %>