<h1>Einstellungen</h1>


<h2>Statuswerte</h2>
<%= form_tag "/settings" do %>
<div class="table-responsive">
<table class="table table-striped">

<!--thead>
  <tr>
    <th>Text</th>
    <th>Reihenfolge</th>
  </tr>
</thead-->

<tbody>
  <% @status_values.each do |sv| %>
    <tr>
      <td id="text-<%= sv.id %>"><%= sv.text %></td>
      <td id="order-<%= sv.id %>"><%= sv.order %></td>
      <td align="center">
        <%= link_to "#", "data-toggle" => "modal", "data-target" => "#statusBearbeitenPopup", id: "status-#{sv.id}" do %>
          <div style="height:100%;width:100%">
            <i class="glyphicon glyphicon-edit"></i>
          </div>
        <% end %>
      </td>
    </tr>
  <% end %>
    <tr>
      <td><%= text_field_tag :text, nil, class: "form-control", placeholder: "Text" %></td>
      <td><%= number_field_tag :order, nil, class: "form-control", placeholder: "Reihenfolge" %></td>
      <td align="center"><%= button_tag "Hinzufügen", type: "submit", class: "btn btn-primary" %></td>
      <td></td>
    </tr>
</tbody>
</table>
</div>
<% end %>



<%= render "status_bearbeiten_popup" %>