<% title "Einstellungen" %>

<h1><i class="glyphicon glyphicon-cog"></i> Einstellungen</h1>





<div class="div-block">
<h2><%= current_user.band.name %></h2>

<p>Klicke ein Feld an, um es zu bearbeiten.</p>

<div class="table-responsive">
<table class="table table-striped">
<thead>
<tr>
  <th>Mitglied</th>
  <th>Instrumente</th>
  <th>E-Mail</th>
</tr>
</thead>

<tbody>
<% @members.each do |member| %>
  <tr>
    <td class="click-to-edit" id="member-<%= member.id %>-name"><%= member.name %></td>
    <td class="click-to-edit" id="member-<%= member.id %>-instruments"><%= member.instruments %></td>
    <td class="click-to-edit" id="member-<%= member.id %>-email"><%= member.email %></td>
  </tr>
<% end %>
</tbody>
</table>
</div>

<script>
$(document).ready(function(){
  click_func = function(event){
    // access ID: event.target.id

    var text = $(event.target).html();
    var elemArr = event.target.id.split("-");

    $("#" + event.target.id).html('<div class="form-inline">' +
      '<form action="/band/edit" accept-charset="UTF-8" method="post">' +
      '<input name="utf8" type="hidden" value="&#x2713;" />' +
      '<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">' +
      '<input name="id" type="hidden" value="' + elemArr[1] + '" />' +
      '<input name="attribute" type="hidden" value="' + elemArr[2] + '" />' +
      '<input name="original" type="hidden" value="' + text + '" id="original" />' +
      '<input type="text" name="text" id="text" value="' + text + '" class="form-control input-sm" />' +
      '<button name="button" type="submit" class="btn btn-primary btn-sm">Speichern</button>' +
      '</form>' +
      '</div>');

    $(this).unbind( "click" );
  }

  $(".click-to-edit").click(click_func);

  $(".click-to-edit").mouseleave(function(event){
    if($("#" + event.target.id).html() && $("#" + event.target.id).html().includes("form-inline")){
      $("#" + event.target.id).html('<td class="click-to-edit" id="' + event.target.id + '">' +
        $("#original").attr("value") +
        '</td'
      );

      $("#" + event.target.id).bind("click", click_func);
    }
  });
});
</script>
</div>











<div class="div-block">
<h2>Statuswerte von Gigs</h2>
<%= form_tag "/settings" do %>
<div class="table-responsive">
<table class="table table-striped">

<!--thead>
  <tr>
    <th>Text</th>
    <th>Reihenfolge</th>
  </tr>
</thead-->

<tbody>
  <% @status_values.each do |sv| %>
    <tr>
      <td id="text-<%= sv.id %>"><%= sv.text %></td>
      <td id="order-<%= sv.id %>"><%= sv.order %></td>
      <td align="center">
        <%= link_to "#", "data-toggle" => "modal", "data-target" => "#statusBearbeitenPopup", id: "status-#{sv.id}" do %>
          <div style="height:100%;width:100%">
            <i class="glyphicon glyphicon-edit"></i>
          </div>
        <% end %>
      </td>
    </tr>
  <% end %>
    <tr>
      <td><%= text_field_tag :text, nil, class: "form-control", placeholder: "Text" %></td>
      <td><%= number_field_tag :order, nil, class: "form-control", placeholder: "Reihenfolge" %></td>
      <td align="center"><%= button_tag "Hinzufügen", type: "submit", class: "btn btn-primary" %></td>
      <td></td>
    </tr>
</tbody>
</table>
</div>
<% end %>
</div>


<div class="div-block">
<h2>E-Mail Vorlage Gigbewerbung</h2>
<%= form_tag "/settings/edit_template" do %>

<p>Folgende Variablen kannst du im Betreff und im Text nutzen (du musst aber nicht):</p>
<ul>
  <li><strong>$contact-name$</strong> hier wird vor dem Versand der volle Name des Kontakts eingefügt.</li>
  <li><strong>$location-name$</strong> hier wird vor dem Versand der Name der Location eingefügt. Wenn es sich um ein Festival handelt (zB Bonebreaker), wird der Name und der Text <em>-<nobr>Festival</em> eingefügt (zB Bonebreaker-Festival).</li>
  <li><strong>$responsible$</strong> hier wird vor dem Versand der Name des verantwortlichen Bandmitglieds eingefügt.</li>
  <li><strong>$year$</strong> hier wird vor dem Versand das Jahr des Gigs eingefügt.</li>
</ul>
<p>Du kannst dir vor dem Versand jede E-Mail noch einmal ansehen.</p>

<%= hidden_field_tag :template, "template" %>
<%= text_field_tag :subject, @template_subject, class: "form-control", placeholder: "Betreff" %>
<%= text_area_tag :text, @template_text, placeholder: "E-Mail-Text", cols: "40", rows: "30", class: "form-control" %>

<br>
<br>

<%= button_tag "Vorlage speichern", type: "submit", class: "btn btn-primary" %>


<% end %>
</div>












<div class="div-block">
<h2 id="fans">E-Mail Vorlage Fan-News</h2>
<%= form_tag "/settings/edit_template" do %>

<p>Folgende Variablen kannst du im Betreff und im Text nutzen (du musst aber nicht):</p>
<ul>
  <li><strong>$fan-name$</strong> hier wird vor dem Versand der Name des Fans eingefügt.</li>
  <li><strong>$location-name$</strong> hier wird vor dem Versand der Name der Location eingefügt.</li>
  <li><strong>$responsible$</strong> hier wird vor dem Versand der Name des verantwortlichen Bandmitglieds eingefügt.</li>
  <li><strong>$date$</strong> hier wird vor dem Versand das Datum des Gigs eingefügt.</li>
</ul>

<%= hidden_field_tag :template, "template_fan_news" %>
<%= text_field_tag :subject, @fan_news_subject, class: "form-control", placeholder: "Betreff" %>
<%= text_area_tag :text, @fan_news_text, placeholder: "E-Mail-Text", cols: "40", rows: "15", class: "form-control" %>

<br>
<br>

<%= button_tag "Vorlage speichern", type: "submit", class: "btn btn-primary" %>


<% end %>
</div>




<%= render "status_bearbeiten_popup" %>