<h1>Bewerbungsmail an <%= @contact.summary %></h1>

<%= link_to "Zurück zur Liste", :back, class: "btn btn-default" %>

<p><strong>Betreff:</strong> <%= @mail.subject %></p>
<p><%= raw(nl2br(@mail.text)) %></p>

<%= link_to "So versenden", send_single_mail_url(mail_id: @mail.id, contact_id: @contact.id), class: "btn btn-primary" %>
<br>
<br>
<%= link_to "Diese Vorlage neu erstellen", recreate_mail_url(@mail.id), class: "btn btn-danger" %>





<%# später ... %>
<%# render "email_bearbeiten_popup" %>
