<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "/", class: "navbar-brand page-scroll" do %>
        <span class="anda"><%= Rails.configuration.bandname %> - GigHunter</span>
      <% end %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <% if current_user %>
          <li<%= is_active?("gigs#apply") ? raw(" class='active'") : "" %>>
            <%= link_to dringende_massnahmen_path do %>
              <i class="glyphicon glyphicon-fire"></i> Dringend
            <% end %>
              
          </li>
          <li<%= is_active?("gigs#index|new|edit") ? raw(" class='active'") : "" %>>
            <%= link_to gigs_path do %>    
              <i class="glyphicon glyphicon-star"></i> Gigs
            <% end %>  
          </li>
          <li<%= is_active?("gigs#locations") ? raw(" class='active'") : "" %>>
            <%= link_to locations_path do %>    
              <i class="glyphicon glyphicon-map-marker"></i> Locations
            <% end %>
          </li>
          <li<%= is_active?("gigs#contacts") ? raw(" class='active'") : "" %>>
            <%= link_to contacts_path do %>  
              <i class="glyphicon glyphicon-user"></i> Kontakte
            <% end %>
          </li>
          <li<%= is_active?("gigs#activities") ? raw(" class='active'") : "" %>>
            <%= link_to activities_path do %>
              <i class="glyphicon glyphicon-flash"></i> Aktivitäten
            <% end %>
          </li>
          <li<%= is_active?("gigs#settings") ? raw(" class='active'") : "" %>>
            <%= link_to "/settings" do %>
              <i class="glyphicon glyphicon-cog"></i> Einstellungen
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>

  <div style="float:right">
    <% if user_signed_in? %>
      <%= I18n.t 'devise.info.logged_in_as' %> <strong><%= current_user.email %></strong>.
      <% if false %>
        <%= link_to I18n.t('devise.info.edit_profile'), edit_user_registration_path, :class => 'navbar-link' %> |
      <% end %>
      <%= link_to I18n.t('devise.info.logout'), destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
    <% else %>
      <% if false %>
        <%= link_to I18n.t('devise.info.sign_up'), new_user_registration_path, :class => 'navbar-link'  %> |
      <% end %>
      <%= link_to I18n.t('devise.info.login'), new_user_session_path, :class => 'navbar-link'  %>
    <% end %>
  </div>
</nav>