<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "/", class: "navbar-brand page-scroll" do %>
        GigHunter
      <% end %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li<%= is_active?("gigs#index|new|edit|apply") ? raw(" class='active'") : "" %>><%= link_to 'Gigs', gigs_path if current_user %></li>
        <li<%= is_active?("gigs#locations") ? raw(" class='active'") : "" %>><%= link_to 'Locations', locations_path if current_user %></li>
        <li<%= is_active?("gigs#contacts") ? raw(" class='active'") : "" %>><%= link_to 'Kontakte', contacts_path if current_user %></li>
        <li<%= is_active?("gigs#band") ? raw(" class='active'") : "" %>><%= link_to 'Band', "/band/#{current_user.band.id}" if current_user %></li>
        <li<%= is_active?("gigs#settings") ? raw(" class='active'") : "" %>><%= link_to 'Einstellungen', "/settings" if current_user %></li>
      </ul>
    </div>
  </div>

  <div style="float:right">
    <% if user_signed_in? %>
      <%= I18n.t 'devise.info.logged_in_as' %> <strong><%= current_user.email %></strong>.
      <% if false %>
        <%= link_to I18n.t('devise.info.edit_profile'), edit_user_registration_path, :class => 'navbar-link' %> |
      <% end %>
      <%= link_to I18n.t('devise.info.logout'), destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
    <% else %>
      <% if false %>
        <%= link_to I18n.t('devise.info.sign_up'), new_user_registration_path, :class => 'navbar-link'  %> |
      <% end %>
      <%= link_to I18n.t('devise.info.login'), new_user_session_path, :class => 'navbar-link'  %>
    <% end %>
  </div>
</nav>